@use 'variables.module.scss' as v;

.background {
    position: fixed;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: fade-out(v.$black, 0.5);
    z-index: 100;

    .popup_area {
        display: flex;
        gap: 1em;
    }

    .popup {
        z-index: 101;
        padding: 3em;
        background-color: rgb(228, 228, 228);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .button {
        padding: .5em 1em;
        background-color: rgb(255, 144, 144);
        border: none;
        border-radius: 1em;
        transition: all .2s ease-in-out;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .button:hover {
        background-color: rgb(234, 114, 114);

    }
}

@media (max-width:768px) {
    .popup_area {
        flex-direction: column;
    }
}