@use 'variables.module.scss' as v

div
    .darken
        filter: brightness(0%)

    .blur25
        filter: blur(8px)

    .darken.blur25
        filter: brightness(0%) blur(6px)

    div
    .square
        width: 140px
        height: 140px
        background-color: black
        position: absolute
        z-index: 50

    .topleft
        transform: translate(0)

    .topright
        transform: translate(140px)

    .bottomleft
        transform: translate(0px, 140px)

    .bottomright
        transform: translate(140px, 140px)

    .input
        width: 100%
        padding: 1em
        border-radius: .8em
        outline: none
        text-align: center
        border: 2px solid #d7ddf5

.pokecard
    align-self: center
    user-select: none
    pointer-events: none
    img
    .lottie
        width: 275px

@media (max-width:768px)
    .pokecard > img, .pokecard > .lottie
        width: 250px
        height: auto
    div
        div
            .square
                width: 130px
                height: 130px
            .topright
                transform: translate(130px)

            .bottomleft
                transform: translate(0px, 130px)

            .bottomright
                transform: translate(130px, 130px)

@media (max-width:414px)
    .pokecard > img, .pokecard > .lottie
        width: 225px
        height: auto
    div
        div
            .square
                width: 115px
                height: 115px
            .topright
                transform: translate(115px)

            .bottomleft
                transform: translate(0px, 115px)

            .bottomright
                transform: translate(115px, 115px)
