@use 'variables.module.scss' as v

div
    .darken
        filter: brightness(0%)

    .blur25
        filter: blur(.5rem)

    .darken.blur25
        filter: brightness(0%) blur(.5rem)

    div
    .square
        width: 125px
        height: 125px
        background-color: black
        position: absolute
        z-index: 50

    .topleft
        transform: translate(0)

    .topright
        transform: translate(125px)

    .bottomleft
        transform: translate(0px, 125px)

    .bottomright
        transform: translate(125px, 125px)

    .input
        width: 100%
        padding: 1em
        border-radius: .8em
        outline: none
        text-align: center
        border: 2px solid #d7ddf5

.pokecard
    align-self: center
    user-select: none
    pointer-events: none
    img
    .lottie 
        width: 275px

@media (max-width:768px)
    .pokecard > img, .pokecard > .lottie
        width: 250px
        height: auto

@media (max-width:414px)
    .pokecard > img, .pokecard > .lottie
        width: 225px
        height: auto
