.background 
    position: fixed
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background-color: red

.popup 
    // position: fixed
    left: 0
    top: 0
    // transform: translate(50vw, 50vh)
    padding: 3em