* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  background: #faf7ef;
  font-size: 16px;
}

@media screen and (max-width:768px) {

  html,
  body {
    font-size: 15px;
  }
}

@media screen and (max-width:414px) {

  html,
  body {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}


.Water {
  background: #4592c4;
  color: lighten(#4592c4, 45%);
}

.Fire {
  background: #EE8130;
  color: lighten(#EE8130, 50%);
}

.Normal {
  background: #A8A77A;
  color: lighten(#A8A77A, 60%);
}

.Electric {
  background: #F7D02C;
  color: darken(#F7D02C, 30%);
}

.Grass {
  background: #9bcc50;
  color: lighten(#7AC74C, 100%);
}

.Ice {
  background: #96D9D6;
  color: lighten(#96D9D6, 30%);
}

.Fighting {
  background: #C22E28;
  color: lighten(#C22E28, 50%);
}

.Ground {
  background: #E2BF65;
  color: lighten(#E2BF65, 30%);
}

.Poison {
  background: #A33EA1;
  color: lighten(#A33EA1, 50%);
}

.Flying {
  background: #A98FF3;
  color: lighten(#A98FF3, 30%);
}

.Psychic {
  background: #F95587;
  color: lighten(#F95587, 30%);
}

.Bug {
  background: #A6B91A;
  color: darken(#A6B91A, 30%);
}

.Rock {
  background: #B6A136;
  color: darken(#B6A136, 30%);
}

.Ghost {
  background: #735797;
  color: darken(#735797, 80%);
}

.Dragon {
  background: #6F35FC;
  color: lighten(#6F35FC, 50%);
}

.Dark {
  background: #705746;
  color: darken(#705746, 70%);
}

.Steel {
  background: #B7B7CE;
  color: lighten(#B7B7CE, 30%);
}

.Fairy {
  background: #D685AD;
  color: lighten(#D685AD, 30%);
}