.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh;
    .content {
        display: flex;
        flex-direction: row;
    }
    .CardCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


.PokeCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: aliceblue;
    padding:2em;
    border-radius: 1em;
    gap:1em;
}
.buttons {
    display:flex;
    gap:1em;
}