.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.PokeCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.buttons {
    display:flex;
    gap:1em;
}