.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh;
}

.table {
    border: 1px solid;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
        font-weight: 700;
    }
    th {
        border: 1px solid;
        padding: .2em;
        
    }
}
