.main {
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    // margin-left: 210px;
    width:100%;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: 100dvh;
    gap:1em;
    h1 {
       text-align: center; 
    }
}


.grid {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 2em;
}