$primary-color: #67b6ff;
$black: #151515;
$secondary-color: rgb(37, 64, 93);
$third-color: rgb(58, 68, 144);

:export {
    primaryColor: $primary-color;
    black: $black;
    secondaryColor: $secondary-color;
    thirdColor: $third-color;
}